.PurOrderDetailAdjust {
  .food-new-footer {
    position: fixed;
    z-index: 1000;
    top: 95%;
    left: 21.5%;
    width: 1200px;
    height: 56px;
    background: white;
    margin: 0px auto;
    line-height: 56px;
    text-align: right;
  }
}