{
    "presets": [
        "babel-preset-react-app"
    ],
    "plugins": [
        // 支持es7修饰器语法
        // https://babeljs.io/docs/en/babel-plugin-proposal-decorators
        [
            "@babel/plugin-proposal-decorators",
            {
                "decoratorsBeforeExport": true
            }
        ]
    ]
}