.Edit {
  .ant-card {
    width: 1160px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .ant-card-head {
      border-bottom-color: gray;
      border-bottom-width: 2px;
    }
  }
}