.filterWrapper {
  display: flex;
  justify-content: space-between;
  padding:20px 0;
}
.cardsWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cardClassShow {
  display: block;
}
.cardClassHidden {
  display: none;
}