.Particulars {
  .bread {
    margin-bottom: 10px;
  }
  .DetailsOperation {
    width: 1200px;
    margin: 0px auto;
    margin-top: -9px;
      .card-body {
      .card-header {
        .card-header-title {
          font-size: 20px;
          .iconfont {
            margin-right: 10px;
            background-color: orange;
            color: white;
            font-size: 20px;
          }
        }
        .right{
          text-align: right;
          button {
            margin-right: 13px;
          }
        }
      }
      .card-content {
        font-size: 14px;
        .card-content-top {
          padding-top: 20px!important;
        }
        div {
          p {
            padding: 10px 10px 10px 40px;
          }
        }
        div:nth-child(3) {
          div{
            text-align: right;
            p:nth-child(2) {
              font-size: 18px;
              color: #000000;
            }
          }
        }
      }
    }
  }
  .PaContent {
    line-height: 32px;
    .ant-checkbox-wrapper {
      width: 120px;
      height: 32px;
      border: 1px solid black;
      line-height: 32px;
      text-align: center;
      border-color: #d9d9d9;
    }
  }
  .ant-steps {
    width: 1160px;
    background: white;
    margin: 20px auto;
    height: 108px;
    display: flex;
    align-items: center;
    .ant-steps-item-title {
      font-size: 5px;
    }
    .ant-steps-item-description {
      font-size: 5px;
    }
  }
  .ant-card {
    width: 1160px;
    margin: 0px auto;
    background: white;
    border: 0px;
  }
  .ant-table-wrapper {
    width: 1160px;
    margin: 0px auto;
    background: white;
    padding: 20px;
  } 
}
